
body {
  margin: 0; 
  padding-left: 0; 
  /* height: 100vh;  */
  background-color:#c2c0c9 ;
}

.splash-screen {
  display: flex;
  padding: 2rem;
  margin:14rem;
  align-items: center;
  background-color: #5838d7; 
  border: #4119e1;
  border-radius: 4rem;
  color: rgb(221, 213, 213);
  font-size: 2rem;
  font-family: Arial, sans-serif;
  animation: fadeOut 3s ease-in-out forwards; /* Apply fade-out animation */
}

/* Fade-out animation */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Smaller screens adjustments */
@media screen and (max-width: 750px) {
  .splash-screen {
    font-size: 0.8rem;
    padding: 10px;
  }
  .splash-screen h1{
    font-size: 1rem;
  }
}

@media screen and (max-width: 360px) {
  .splash-screen {
    font-size: 0.3rem;
  }
}

/* Home page styling */
.home-page {
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

/* General adjustments for mobile devices */
@media screen and (max-width: 1000px) {
  .home-page {
    font-size: 0.5rem;
  }
}
